name: Release

on:
  push:
    tags: ["v*.*.*"]

permissions: {}

jobs:
  release:
    name: Release
    uses: grafana/xk6/.github/workflows/tooling-release.yml@6bf2772548c275ca0b6ca4de73fa1b183a8ed0fc # v1.3.4
    permissions:
      contents: write
      packages: write
      id-token: write
    with:
      go-version: "1.25.x"
      goreleaser-version: "2.8.2"
      k6-versions: '["v1.2.3","v1.0.0"]'