name: Validate

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions: {}

jobs:
  validate:
    name: Validate
    uses: grafana/xk6/.github/workflows/tooling-validate.yml@6bf2772548c275ca0b6ca4de73fa1b183a8ed0fc # v1.3.4
    with:
      go-version: "1.25.x"
      go-versions: '["1.25.x"]'
      golangci-lint-version: "v2.4.0"
      goreleaser-version: "2.8.2"
      platforms: '["ubuntu-latest", "windows-latest", "macos-latest"]'
      k6-versions: '["v1.2.3","v1.0.0"]'
